:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* user controls */
  --color-global: #000;
  --color-global-background: initial;
  --color-global-background-surface: #f3f3f3;
  --color-global-background-grid: #dddddd;

  --color-head: initial;
  --color-head-background: initial;

  --color-body: initial;
  --color-body-background: initial;

  --color-leg: initial;
  --color-leg-background: initial;

  --color-foot: initial;
  --color-foot-background: initial;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-global-background);
}
